<nav class="bottom-nav bottom-nav--admin" aria-label="Navigation mobile">
  <a href="dashboard.html" data-nav="dashboard.html"><i class="fa-solid fa-gauge"></i><span>Accueil</span></a>
  <a href="signalements.html" data-nav="signalements.html"><i class="fa-solid fa-triangle-exclamation"></i><span>Signalements</span></a>
  <a href="utilisateurs.html" data-nav="utilisateurs.html"><i class="fa-solid fa-users"></i><span>Utilisateurs</span></a>
  <a href="articles.html" data-nav="articles.html"><i class="fa-solid fa-newspaper"></i><span>Articles</span></a>
  <a href="carte.html" data-nav="carte.html"><i class="fa-solid fa-map-location-dot"></i><span>Carte</span></a>
</nav>
